body {
  margin: 50px;
  font-family: "Arima Madurai", cursive;
  background: #fff3e1;
  text-align: center;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 18px;
  padding: 8px;
  position: relative;
  bottom: 0px;
}

h3 {
  font-size: 15px;
}

.hightoday {
  color: #ffffff;
  text-shadow: 1px 1px #666666;
  position: relative;
}
.lowtoday {
  color: #ffffff;
  text-shadow: 1px 1px #666666;
  position: relative;
}

.temptoday {
  color: #ffffff;
  font-size: 100px;
  font-weight: bolder;
  text-shadow: 3px 3px #666666;
}

.celsius {
  font-size: 80px;
  color: #ffffff;
  font-weight: bolder;
  text-shadow: 3px 3px #666666;
  position: relative;
  right: -40px;
}

.weathertoday {
  border-radius: 10px;
  background-image: url("https://cdn.pixabay.com/photo/2020/09/02/06/18/sun-5537437_1280.jpg");
  background-position: center;
  height: 200px;
  width: auto;
  padding: 30px;
}

.container {
  border: 2px solid #ffffff;
  padding: 10px;
  display: grid;
  border-radius: 10px;
}

.forecast {
  text-align: center;
  font-size: 20px;
}

.col {
  font-size: 15px;
}

input {
  width: 300px;