.frame {
  width: 500px;
  padding: 40px;
  border: #99582a solid 2px;
  border-radius: 25px;
  margin: 50px auto;
  position: center;
  font-family: "Alegreya Sans", sans-serif;
  background: #ffe8d6;
  text-align: center;
  color: #333333;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
}

.temptoday {
  font-size: 100px;
  font-weight: bolder;
  padding: 10px;
}

.icon {
margin: auto;}

.celsius {
  font-size: 60px;
}

.row {
  border-top: 1px solid #99582a;
  border-bottom: 1px solid #99582a;
}


input {
  width: 180px;
}

button {
  background-color: #99582a;
  color: #ffffff;
  border-radius: 5px;
}

footer {
  text-align: center;
}
