.frame {
  width: 500px;
  padding: 40px;
  border: #c8553d solid 2px;
  border-radius: 25px;
  margin: 50px auto;
  position: center;
  font-family: "Alegreya Sans", sans-serif;
  background: #ffd5c2;
  text-align: center;
}


.convert {
float: right;
font-weight: bold;
}

a:link {
  color: #588b8b;
}

a:hover{
  color: #777777;
}

a:visited {
  color: #c8553d;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
}

.temptoday {
  font-size: 100px;
  font-weight: bolder;
  padding: 10px;
}

.unit {
  font-size: 60px;
}

.row {
  border-top: 1px solid #c8553d;
  border-bottom: 1px solid #c8553d;
}


input {
  width: 180px;
}

button {
  background-color: #c8553d;
  color: #ffffff;
  border-radius: 5px;
  margin: 3px;
}

footer {
  text-align: center;
}
